<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ADConnectionString" connectionString="LDAP://sav.com/DC=sav,DC=com" />
    
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- LDAP Read Query -->
    <add key="AD_Domain_Name" value="sav.com" />
    <add key="AD_Container" value="OU=PatientenTransport,OU=Applications,OU=ACL,OU=Groups,DC=sav,DC=com" />
    <add key="Query_Username" value="sta_it2" />
    <add key="Query_Password" value="stagiair" />
    <!-- LDAP AD Group Names -->
    <add key="GRP_Dokter_Invoer" value="DL_PatTrans_PatientInvoer" />
    <add key="GRP_Verdiep" value="DL_PatTrans_Verdiep" />
    <add key="GRP_Dispatch" value="DL_PatTrans_Dispatcher" />
    <add key="GRP_Vervoer" value="DL_PatTrans_Vervoer" />
    <add key="GRP_Administrator" value="DL_PatTrans_Admin" />
    <!-- Group Permissions -->
    <add key="PERM_Dokter_Invoer" value="" />
    <add key="PERM_Verdiep" value="" />
    <add key="PERM_Dispatch" value="" />
    <add key="PERM_Vervoer" value="" />
    <add key="PERM_Administrator" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/" name=".ADAuthCookie" defaultUrl="~/Home" timeout="10" />
    </authentication>
    <pages pageBaseType="Patient_Transport.Models.Application.BaseViewPage">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <membership defaultProvider="ADMembershipProvider">
      <providers>
        <add name="ADMembershipProvider" connectionStringName="ADConnectionString" attributeMapUsername="sAMAccountName" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
  </system.web>
</configuration>